<section class="section">
  <div class="container">
    <h2 class="title">Editing book</h2>
  </div>
<section class="section">
  <div class="container">
    <%= render "form", book: @book %>
  </div>
</section>
<section class="section">
  <div class="container">
    <%= link_to "Show this book", @book, class: 'button is-link' %>
    <%= link_to "Back to books", books_path, class: 'button is-link' %>
  </div>
</section>
